In [7]:
import numpy as np

# DataType & Attributes

In [8]:
al = np.array([1,2,3,4,5,6,7])
al

array([1, 2, 3, 4, 5, 6, 7])

In [9]:
type(al)

numpy.ndarray

In [10]:
a2 = np.array([[1,2,3,4.5], [5,6,787,8]])

In [11]:
a2

array([[  1. ,   2. ,   3. ,   4.5],
       [  5. ,   6. , 787. ,   8. ]])

In [12]:
a3 = np.array([[
                [1, 2, 3, 4, 5, 6], 
                [2.2, 34, 5, 6, 78, 98], 
                [2, 4, 5, 8, 2, 5.552],
                
                [1, 2, 3, 4, 5, 6], 
                [23.2, 334, 5, 6, 728, 98], 
                [2, 4, 5, 48,32, 5.552],
    
               ]])
a3

array([[[  1.   ,   2.   ,   3.   ,   4.   ,   5.   ,   6.   ],
        [  2.2  ,  34.   ,   5.   ,   6.   ,  78.   ,  98.   ],
        [  2.   ,   4.   ,   5.   ,   8.   ,   2.   ,   5.552],
        [  1.   ,   2.   ,   3.   ,   4.   ,   5.   ,   6.   ],
        [ 23.2  , 334.   ,   5.   ,   6.   , 728.   ,  98.   ],
        [  2.   ,   4.   ,   5.   ,  48.   ,  32.   ,   5.552]]])

In [13]:
al.shape

(7,)

In [14]:
a2.shape

(2, 4)

In [15]:
a3.shape

(1, 6, 6)

In [16]:
al.ndim

1

In [17]:
a2.ndim

2

In [18]:
a3.ndim

3

In [19]:
al.ndim , a2.ndim, a3.ndim

(1, 2, 3)

In [20]:
al.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('float64'))

In [21]:
al.size, a2.size, a3.size

(7, 8, 36)

In [22]:
type(al), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

# create a data frame from numpy array using pandas

In [23]:
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1      2    3
0  1.0  2.0    3.0  4.5
1  5.0  6.0  787.0  8.0

# Create arrays

In [24]:
sample_arrays = np.array([1,2,3])
sample_arrays

array([1, 2, 3])

In [25]:
sample_arrays.dtype

dtype('int64')

In [26]:
ones = np.ones((2,3))

In [27]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [28]:
ones.dtype

dtype('float64')

In [29]:
type(ones)

numpy.ndarray

In [30]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [31]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [32]:
random_array = np.random.randint(0, 10, size=(3,5))
random_array

array([[5, 6, 5, 1, 7],
       [1, 1, 0, 6, 4],
       [5, 2, 1, 0, 2]], dtype=int32)

In [33]:
random_array.size

15

In [34]:
random_array_two = np.random.random((5,3))

In [35]:
random_array_two

array([[0.76495963, 0.0149103 , 0.53130302],
       [0.3621701 , 0.88265486, 0.47556386],
       [0.89691923, 0.77886684, 0.32442254],
       [0.02486492, 0.80037751, 0.6861864 ],
       [0.41554305, 0.55518684, 0.36332517]])

In [36]:
random_array_two.shape

(5, 3)

In [37]:
random_array_three = np.random.random((5,3, 3))
random_array_three

array([[[0.90830184, 0.96051615, 0.16500652],
        [0.38632714, 0.40553139, 0.93971733],
        [0.98474961, 0.89019309, 0.42305552]],

       [[0.16182419, 0.09435563, 0.17086683],
        [0.66552555, 0.98309221, 0.24606225],
        [0.30196028, 0.31025968, 0.60254133]],

       [[0.10284673, 0.34754351, 0.11881129],
        [0.13715661, 0.51175275, 0.01900405],
        [0.27430022, 0.65196928, 0.48854175]],

       [[0.5263223 , 0.05021468, 0.30517335],
        [0.27009409, 0.48930863, 0.63378366],
        [0.29993904, 0.39911945, 0.06831968]],

       [[0.16539569, 0.18856387, 0.75684434],
        [0.43686461, 0.63229919, 0.91543918],
        [0.68769579, 0.01722666, 0.59174981]]])

In [38]:
next_random = np.random.randint(0,10, 9)
next_random

array([6, 0, 8, 0, 1, 7, 8, 4, 6], dtype=int32)

In [39]:
next_range = np.arange(0,10,2)
next_range

array([0, 2, 4, 6, 8])

In [40]:
make_new_array = pd.DataFrame(next_random)
make_new_array

   0
0  6
1  0
2  8
3  0
4  1
5  7
6  8
7  4
8  6

In [45]:
new_one = np.array([a2])
new_one

array([[[  1. ,   2. ,   3. ,   4.5],
        [  5. ,   6. , 787. ,   8. ]]])

In [63]:
new_random = np.random.random([1,2,3])
new_random

array([[[0.08829812, 0.04502053, 0.28736503],
        [0.69220823, 0.67363439, 0.24251235]]])

In [67]:
a2

array([[  1. ,   2. ,   3. ,   4.5],
       [  5. ,   6. , 787. ,   8. ]])

In [68]:
random_array_three

array([[[0.90830184, 0.96051615, 0.16500652],
        [0.38632714, 0.40553139, 0.93971733],
        [0.98474961, 0.89019309, 0.42305552]],

       [[0.16182419, 0.09435563, 0.17086683],
        [0.66552555, 0.98309221, 0.24606225],
        [0.30196028, 0.31025968, 0.60254133]],

       [[0.10284673, 0.34754351, 0.11881129],
        [0.13715661, 0.51175275, 0.01900405],
        [0.27430022, 0.65196928, 0.48854175]],

       [[0.5263223 , 0.05021468, 0.30517335],
        [0.27009409, 0.48930863, 0.63378366],
        [0.29993904, 0.39911945, 0.06831968]],

       [[0.16539569, 0.18856387, 0.75684434],
        [0.43686461, 0.63229919, 0.91543918],
        [0.68769579, 0.01722666, 0.59174981]]])

In [70]:
random_array_two

array([[0.76495963, 0.0149103 , 0.53130302],
       [0.3621701 , 0.88265486, 0.47556386],
       [0.89691923, 0.77886684, 0.32442254],
       [0.02486492, 0.80037751, 0.6861864 ],
       [0.41554305, 0.55518684, 0.36332517]])

In [71]:
new_panda = pd.DataFrame(random_array_two)
new_panda

          0         1         2
0  0.764960  0.014910  0.531303
1  0.362170  0.882655  0.475564
2  0.896919  0.778867  0.324423
3  0.024865  0.800378  0.686186
4  0.415543  0.555187  0.363325

In [73]:
rule = new_panda[1]
rule

0    0.014910
1    0.882655
2    0.778867
3    0.800378
4    0.555187
Name: 1, dtype: float64

In [84]:
new_random_numbers = np.random.rand(2,3)
new_random_numbers

array([[0.95748218, 0.17630146, 0.75839691],
       [0.42578263, 0.19981457, 0.08521094]])

# Pseudo random numbers

In [116]:
np.random.seed(7)
random_number_four = np.random.randint(14,size=(5,5))
random_number_four

array([[ 4,  9,  6,  3,  3],
       [ 7,  7, 12,  9,  7],
       [ 8,  9, 10, 10,  8],
       [ 7,  6,  4,  0,  7],
       [12,  0, 11,  7, 10]], dtype=int32)

In [117]:
random_number_four

array([[ 4,  9,  6,  3,  3],
       [ 7,  7, 12,  9,  7],
       [ 8,  9, 10, 10,  8],
       [ 7,  6,  4,  0,  7],
       [12,  0, 11,  7, 10]], dtype=int32)

In [131]:
randiom_array_five = np.random.rand(2,1,2)
randiom_array_five

array([[[0.47529221, 0.83405132]],

       [[0.27660585, 0.72023588]]])